/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-roboto: "Roboto", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-inter: "Inter", sans-serif;

    --color-cst-green-800: #16352d;
    --color-cst-green-400: #275236;
    --color-cst-green-200: #dfe2b7;
    --color-cst-yellow-600: #caa638;
    --color-cst-yellow-400: #f9d549;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

.prose {
    font-family: "Inter", sans-serif;
    line-height: 1.75;
    color: #1a1a1a;
    max-width: 100%;
}

/* === PARAGRAPH & BREAK === */
.prose p {
    margin-bottom: 1rem;
    white-space: pre-wrap; /* agar enter (\n) tetap muncul */
}

/* === LIST === */
.prose ul,
.prose ol {
    margin: 1rem 0 1rem 1.5rem;
    padding-left: 1rem;
}

.prose ul {
    list-style-type: disc;
}

.prose ol {
    list-style-type: decimal;
}

.prose li {
    margin-bottom: 0.5rem;
}

/* Sub-list (list dalam list) */
.prose ul ul,
.prose ol ol,
.prose ul ol,
.prose ol ul {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/* === TABLE === */
/* .prose table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    border: 1px solid #ddd;
    font-size: 0.95rem;
} */

.prose table {
    @apply min-w-full divide-y-2 divide-gray-200 my-8;
}

.prose thead {
    @apply ltr:text-left rtl:text-right bg-cst-green-200;
}

.prose tbody {
    @apply divide-y divide-gray-200 bg-gray-100 *:even:bg-gray-50;
}

.prose th,
.prose td {
    @apply px-3 py-2 whitespace-nowrap;
}

.prose tr {
    @apply *:text-gray-900 *:first:font-medium;
}

/* === HEADINGS === */
.prose h1,
.prose h2,
.prose h3,
.prose h4 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.prose h1 {
    font-size: 1.75rem;
}
.prose h2 {
    font-size: 1.5rem;
}
.prose h3 {
    font-size: 1.25rem;
}
